body{
	text-align: center;
    margin-left: auto;
	margin-right: auto;
    background-color: rgba(195, 150, 82, 0.753);
	width: 1000px;


}
#imagen{
	width: 300px;
    height: 200px;
		
}
html{
    background: url(fondo.jpg);
  
}
nav{
 
    background-color: #543729c7;
    text-align: center;
  }
  
  nav ul{
     list-style: none;
     display: inline-block;
     
  }
  
  nav ul li{
      float: left;
      margin-top: 5%;
  }
  
  nav ul li a {
      color: white;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      font-size: 15px;
      padding: 1%;
    
  }
  
  nav ul li a:hover{
    background-color: #706357;
  }
  #Titulo{
	
	text-align: center;
	font: oblique bold 100% cursive;
	color: whitesmoke;
   
	
  }
  header{
	background-color: #ef5634a4;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
  }
  section{
    border-width: 10px;
	border-color: #535a32;
	border-style: solid ;
  }
h2{
    font-family: 'Libre Franklin', sans-serif;
   
    font-size: xx-large;
   
}
h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: xx-large;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #463014a6;;
    border-width: 10px;
	 border-color:#463014;
	border-style: solid;
}
  .cuento{
    font-family: 'Akaya Kanadaka', cursive;
    text-align: center;
	margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
	border-width: 10px;
	 border-color:#463014;
	border-style: solid;
    font-size: 180%;
    white-space: pre-line;
   
  }

  #Reseña{
    font-family: 'Akaya Kanadaka', cursive;
	margin-left: 5%;
    margin-right: 5%;
	margin-bottom: 3%;
	border-width: 10px;
	 border-color:#463014;
	border-style: solid;
	text-align: justify;
    font-size: 150%;

}

#Glosario{
    font-family: 'Chivo', sans-serif;
	margin-left: 5%;
    margin-right: 5%;
	margin-bottom: 3%;
	border-width: 10px;
	 border-color:#463014;
	border-style: solid;
	text-align: justify;
    font-size: x-large;

}

#disqus_thread{
    background-color: #463014a6;;
    margin-left: 5%;
    margin-right: 5%;
	margin-bottom: 3%;
	border-width: 10px;
	 border-color:#463014;
	border-style: solid;
}
.Palabra{
	font: oblique bold 120% cursive;
}
footer{
    background-color: #463014a6;;
    margin-left: 5%;
    margin-right: 5%;
	margin-top: 2%;
    margin-bottom: 2%;
	border-width: 10px;
	 border-color:#463014;
	border-style: solid;
    color: white;
}